body.black-theme {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
}

.profile-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.profile-info {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

h1 {
    color: #ff8c00;
    text-align: center;
}

.wishlist-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.dropdown-container {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.dropdown label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.dropdown select, .dropdown button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ff8c00;
    background-color: #2e2e2e;
    color: #e0e0e0;
    border-radius: 4px;
}

.dropdown button {
    background-color: #ff8c00;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown button:hover {
    background-color: #e67e22;
}
